{% extends 'main/layout.html' %}

{% block title %}Товары сайта{% endblock %}

{% block content %}
    <div class="features">
        <h1>Товары</h1>
        {% if products %}
            <div class="container">  <!-- Добавляем контейнер для Flexbox -->
                {% for el in products %}
                <div class="post alert alert-warning">  <!-- Изменяем класс для поста -->
                    <img src="{{ el.image }}">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <p>{{ el.date }}</p>
                    <a href="{% url 'products-detail' el.id %}" class="btn btn-warning">Перейти к товару</a>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Пока здесь нет товаров!!!</p>
        {% endif %}
    </div>
{% endblock %}