{% extends 'main/layout.html' %}

{% block title %} Информация о нас {% endblock %}

{% block content %}
    <div class="about-us">
        <div class="about">
            <div class="about-container">
                <h1>
                    Информация о нас
                </h1>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p>
                        В нашем ассортименте вы найдете мощные и надежные системные блоки, подходящие для любых задач
                        — от офисной работы до интенсивного гейминга. Мы предлагаем как готовые решения от ведущих
                        производителей, так и возможность собрать уникальный ПК по вашим спецификациям. Каждая сборка
                        проходит строгую проверку качества, чтобы гарантировать вам непревзойденную производительность
                        и долговечность.
                    </p>
                    <div class="about-img-one">
                    <a href="{% url 'computer_case' %}"><img src="static/main/img/about-one.png" alt="Image 1"></a>
                    </div>
                </div>

               <div class="about-text">
                    <div class="about-img-one">
                    <a href="{% url 'notebooks' %}"><img src="static/main/img/about-two.png" alt="Image 1"></a>
                    </div>
                    <p>
                        Для геймеров и профессионалов, работающих в творческой сфере, мы предусмотрели широкий выбор
                        игровых ноутбуков. Наши модели отличаются высоким качеством сборки, продвинутыми графическими
                        картами и мощными процессорами, которые обеспечивают плавный игровой процесс и быструю обработку
                        данных. Мы также предлагаем модели с высокой частотой обновления экрана и эффективными системами
                        охлаждения.
                    </p>
                </div>
                <div class="about-text">
                    <p>
                        Красочные и четкие мониторы — это залог хорошего восприятия контента. В TITAN VIPER вы найдете
                        мониторы разных форматов и разрешений, подходящие как для геймеров, так и для офисного использования.
                        От моделей с высокой четкостью изображения до ультрашироких экранов — мы поможем вам выбрать
                        идеальный монитор, который сделает вашу работу и развлечения еще более захватывающими.
                    </p>
                    <div class="about-img-one">
                    <a href="{% url 'monitors' %}"><img src="static/main/img/about-three.png" alt="Image 1"></a>
                    </div>
                </div>
                <div class="about-text">
                    <div class="about-img-one">
                    <a href="{% url 'accessories' %}"><img src="static/main/img/about-four.png" alt="Image 1"></a>
                    </div>
                    <p>
                        Не забывайте о важности качественных аксессуаров! В нашем магазине представлен широкий
                        ассортимент клавиатур, мышей, наушников и других полезных устройств, которые повысят вашу
                        продуктивность и сделают времяпрепровождение более комфортным. Мы сотрудничаем с известными
                        брендами, чтобы обеспечить вам только лучшее оборудование и добавить больше удобства в ваше
                        компьютерное окружение.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}