{% extends 'main/layout.html' %}

{% block title %} Информация о нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Информация о нас</h1>
        <p>Почему выбирают нас:
            Широкий ассортимент товаров: от модной одежды и обуви до аксессуаров и предметов интерьера.
            Гарантированное качество: мы тщательно отбираем каждый продукт, чтобы вы остались довольны своей покупкой.
            Выгодные цены и акции: у нас вы найдете отличные предложения и постоянные акции на самые модные вещи.
            Удобный сервис: быстрая доставка, простой процесс оформления заказа и внимательная поддержка клиентов.
            TTRShop - где стиль встречает качество!Почему выбирают нас:
            Широкий ассортимент товаров: от модной одежды и обуви до аксессуаров и предметов интерьера.
            Гарантированное качество: мы тщательно отбираем каждый продукт, чтобы вы остались довольны своей покупкой.
            Выгодные цены и акции: у нас вы найдете отличные предложения и постоянные акции на самые модные вещи.
            Удобный сервис: быстрая доставка, простой процесс оформления заказа и внимательная поддержка клиентов.
            TTRShop - где стиль встречает качество!</p>
        <button class="btn btn-danger"> Просто нажми </button>
    </div>
{% endblock %}