{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="contacts">
    <div class="contacts-page">
        <div class="contacts-container">
            <h1>Наши контакты</h1>
        </div>
        <div class="contacts-text">
            <p>
             Дорогие друзья!

            Мы всегда стремимся сделать ваш опыт покупок максимально приятным и удобным. Ваше мнение очень важно для нас!

            Пожалуйста, поделитесь своими впечатлениями о нашем магазине и товарах. Ваши отзывы помогают нам улучшать качество обслуживания и предлагать только лучшее!

            Не стесняйтесь оставлять комментарии, задавать вопросы и делиться своими пожеланиями. Мы готовы вас слушать и учитываем каждое ваше слово!

            Спасибо, что выбираете нас! Мы ценим вашу поддержку и надеемся на дальнейшее сотрудничество!
            </p>
        </div>
        <div class="contacts-container">
            <h2><a href="{{ vk }}" target="_blank">https://vk.com/tatarintsk</a></h2>
        </div>
        <div class="contacts-container">
            <h3> t.me/tatarianSHOT </h3>
        </div>
        <div class="contacts-container">
            <h4> Номер телефона: 8-708-039-06-01 </h4>
        </div>
    </div>
</div>
{% endblock %}