{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Добро пожаловать в TTRShop - ваш универсальный магазин стильных и качественных товаров!
            Здесь вас ждет мир изысканных вещей, которые подчеркнут ваш неповторимый стиль и добавят шарма вашему
            повседневному облику. В TTRShop мы уделяем особое внимание качеству каждого товара, предлагая вам только лучшее из мира моды и стиля.
            </p>
        <button class="btn btn-warning"> На страницу про нас </button>
    </div>
{% endblock %}