{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{% static 'main/img/slide11.png' %}" alt="Image 1">
            <div class="slide-text">
                <p>
                    Добро пожаловать в TITAN VIPER! Вас приветствует ваш надежный партнер в мире технологий — интернет-магазин TITAN VIPER,
                    где мы предлагаем широкий ассортимент компьютеров, ноутбуков и аксессуаров с использованием
                    самых передовых технологий.
                    Мы знаем, как важен выбор правильного устройства, поэтому с гордостью представляем только
                    высококачественные товары, которые соответствуют самым современным требованиям.
                </p>
                <a href="category" class="slide-btn">Посмотреть товары</a>
            </div>
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/slide2.png' %}" alt="Image 2">
            <div class="slide-text-sec">
                <p>
                          Каждый продукт в нашем магазине проходит строгую проверку на качество. Мы сотрудничаем только
                    с известными брендами, что гарантирует надежность и долговечность вашей техники. Вы можете быть
                    уверены в том, что покупаете устройства, которые прослужат вам долго.
                </p>
                <a href="about" class="slide-btn-sec">Узнать больше</a>
            </div>
        </div>
    </div>
    <!-- Добавление стрелок слева и справа -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div class="home_page">
    <div class="home_left_text">
        <h2>Современные технологии</h2>
        <p>В нашем ассортименте вы найдете компьютеры и ноутбуки, оснащенные последними процессорами, видеокартами и другими компонентами, которые обеспечивают высокую производительность. Мы предлагаем устройства для любых задач — от домашнего использования до профессиональных решений для бизнеса и игр.</p>
    </div>
    <div class="home_right_text">
        <h2>Аксессуары на любой вкус</h2>
        <p>Не забывайте про аксессуары! В TITAN VIPER вы найдете все необходимое: от эргономичных клавиатур и мышей до стильных смартфонов и внешних жестких дисков. Мы предлагаем широкий выбор, чтобы сделать вашу работу и игры еще более комфортными.</p>
    </div>
    <div class="home_left_text">
        <h2>Быстрая доставка и отличный сервис</h2>
        <p>Мы стремимся сделать покупку максимально удобной для вас. Быстрая доставка и квалифицированная поддержка клиентов — это наши приоритеты. Если у вас возникнут вопросы, наша команда всегда готова помочь!</p>
    </div>
    <div class="home_right_text">
        <h2>Ваш идеальный компьютер ждет вас в TITAN VIPER!</h2>
        <p>Не упустите возможность стать частью мира высоких технологий. Проверьте наш каталог и выберите идеальное устройство именно для вас! С TITAN VIPER технологии становятся доступными для каждого!</p>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 3000,
        },
        loop: true,
    });
</script>
{% endblock %}
