body {
    background-image: url('/static/main/img/back-photo.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на всю площадь */
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/static/main/img/graph.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на всю площадь */
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    width: 100%;
    padding: 20px; /* Измените отступы по желанию */
    height: 20%;
    color: #fff;
    border-bottom: 5px solid #4d4d4d;
}

@keyframes logoAnimation {
  0% {
    transform: translateX(-100%) rotate(0deg);
    opacity: 0; /* Изначально прозрачный */
  }
  50% {
    transform: translateX(1vw) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

header img {
    animation: logoAnimation 1s ease-out forwards;
    border-radius: 50%;
}

@keyframes breathe {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(-10deg);
    }
    50% {
        transform: scale(1) rotate(0deg);
    }
    75% {
        transform: scale(1.1) rotate(10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

header .logo {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    animation: breathe 3s ease-in-out infinite;
}

header ul {list-style: none}
header ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

header ul a {
    text-decoration: none
}

header ul li:hover, header ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: center;
    color: #fff;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}


main .features h1, h2, h3, h4 {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(192, 192, 192, 0.5); /* Белый фон с 50% прозрачностью */
    padding: 10px; /* Добавляет отступы вокруг текста */
    border-radius: 5px; /* Закругленные углы */
    /* Дополнительно, если необходимо */
    border: 1px solid #ccc; /* Опциональная рамка */
    color: #333; /* Цвет текста */
    font-size: 20px;
}
main .features p {
    background-color: rgba(192, 192, 192, 0.5); /* Белый фон с 50% прозрачностью */
    padding: 10px; /* Добавляет отступы вокруг текста */
    border-radius: 5px; /* Закругленные углы */
    /* Дополнительно, если необходимо */
    border: 1px solid #ccc; /* Опциональная рамка */
    color: #333; /* Цвет текста */
    max-width: 800px;
    margin: 20px auto
}

.alert-warning {
    color: #000;
    front: left;
    clear: both;
    width 1000px;
    margin: 20px 34%;
    text-align: left;
    background-color: #4d4c4c;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.menu {
    display: flex;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Позволяет постам перенаправляться на новую строку при необходимости */
    justify-content: space-between; /* Распределяет пространство между постами */
}

.post {
    margin: 10px; /* Отступы между постами */
    width: calc(33.33% - 20px); /* Пример: 3 поста в ряд, с учетом отступов */
    box-sizing: border-box; /* Учитывает padding и margin в заданной ширине */
}
