/* ===================
   Общие стили
=================== */
* {
    margin: 0;
}

body {
    background-color: #050713;
    font-family: 'LogoFont';
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'LogoFont';
    src: url('/static/main/fonts/ShareTechMonoRegular_0.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ===================
   Header
=================== */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #141723;
    width: 100%;
    height: 100px;
    color: #000;
    z-index: 1500;
}

header img {
    width: 80px;
    height: 80px;
}

header .logo {
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'LogoFont';
    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header ul li {
    font-family: 'LogoFont';
    color: #fff;
    margin-left: 20px;
    transition: transform .6s ease;
}

header ul a {
    color: inherit;
}

header ul li:hover,
header ul a:hover {
    color: #87abf5;
}

/* ===================
   Главная страница (Home)
=================== */
.menu {
    display: flex;
    margin-top: 30px;
}

.menu li {
    font-size: 20px;
    margin-left: 65px;
    cursor: pointer;
}

.home_page h2 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'LogoFont';
}

.home_page p {
    font-size: 1.9em;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'LogoFont';
}

.home_left_text, .home_right_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    margin-bottom: 50px;
}

.home_left_text {
    margin-left: 10%;
}

.home_right_text {
    text-align: right;
    margin-left: auto;
    margin-right: 10%;
}

.home_left_text h2 {
    margin-left: 10%;
}

.home_right_text h2 {
    margin-left: auto;
    margin-right: 10%;
}

/* Swiper */
.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 750px;
    margin: 150px auto;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    color: #fff;
    width: 27px;
    height: 44px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 0.7;
}

.slide-text,
.slide-text-sec {
    position: absolute;
    top: 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'LogoFont';
}

.slide-text {
    max-width: 60%;
    right: 5%;
    font-size: 30px;
    text-align: right;
}

.slide-text-sec {
    max-width: 100%;
    left: 5%;
    font-size: 40px;
    text-align: center;
}

.slide-btn,
.slide-btn-sec {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.slide-btn {
    margin-right: 30%;
}

.slide-btn:hover,
.slide-btn-sec:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.slide-btn-sec {
    margin-top: 170px;
}

/* ===================
   Контакты
=================== */
.contacts-page {
    margin-top: 150px;
}

.contacts-container,
.contacts-text {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #060b17;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'LogoFont';
}

.contacts-container h1,
.contacts-container h2,
.contacts-container h3,
.contacts-container h4,
.contacts-text p {
    color: #fff;
}

.contacts-text {
    padding: 50px;
    font-size: 30px;
}

/* ===================
   О нас
=================== */
.about {
    margin-top: 150px;
}

.about-container,
.about-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #060b17;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'LogoFont';
    text-align: center;
}

.about-container h1,
.about-text p {
    color: #fff;
}

.about-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    text-align: left;
    margin-bottom: 50px;
}

.about-text p {
    max-width: 70%;
}

.about-img-one {
    position: relative;
    display: flex;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    align-items: center;
    padding: 80px;
}

.about-img-one img {
    display: block;
    width: 300px;
    height: auto;
    transition: transform 0.3s;
}

.about-img-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(140, 180, 209, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 0;
    border-radius: 50px;
}

.about-img-one:hover::before {
    opacity: 1;
}

.about-img-one:hover img {
    transform: scale(1.03);
}